{% extends 'layout' %}

{% block scripts %}
<script scr="/scripts/delete.js"></script>
{% endblock %}

{% block content %}

<h2>{{ recipe.name }}</h2>
<p>{{ recipe.category.name }}</p>
<h3> Hozzávalók</h3>
<pre>
{{ recipe.ingredients }}
</pre>
<h3> Leírás</h3>    
<pre>
{{ recipe.instructions }}
</pre>

{% if currentUser.id ==  recipe.user_id %}
{{csrfField | safe}}
<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>




<a class="btn btn-primary" href="/recipes/{{recipe.id}}/edit" role="button">Szerkeszt</a>
<a id="btnDelete" class="btn btn-danger" href="/recipes/{{recipe.id}}/delete" role="button">Töröl</a>
{% endif  %}

{% endblock %}